html {
  font-size: 0.5787037037vw;
}
:root {
  --padding-container : 12.4rem;
}
@font-face {
  font-family: "TBSGothic";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TBSGothicRegular.ttf");
}
@font-face {
  font-family: "TBSGothic";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TBSGothicBold.ttf");
}
*{
  box-sizing: border-box;
}
body {
  font-family: 'Arial';
  color: #555;
}
.kl_container {
  width: 100%;
  max-width: 100%;
  padding-inline: var(--padding-container);
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3.5rem;
}
.hidden{
  display: none;
}
h1, h2{
  margin: 0;
}
@media only screen and (max-width: 991px) {
  :root {
    --padding-container : 4rem;
  }
  html {
    font-size: 1.30208333333vw;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 2.27272727273vw;
  }
}
.heading {
  font-weight: 700;
  font-family: "TBSGothic";
}
.txt_bold {
  font-weight: 700;
}
.font_tbs {
  font-family: "TBSGothic";
}
.txt_16 {
  font-size: 1.6rem;
  line-height: 1.6em;
}
.txt_17 {
  font-size: 1.7rem;
  line-height: 1.5em;
}
.txt_18 {
  font-size: 1.8rem;
  line-height: 1.5em;
}
.txt_20 {
  font-size: 2rem;
  line-height: 1.75em;
}
.txt_24 {
  font-size: 2.4rem;
  line-height: 1.85em;
}
.txt_25{
  font-size: 2.5rem;
  line-height: 1em;
}
.txt_28 {
  font-size: 2.8rem;
  line-height: 1.6em;
}
.txt_30 {
  font-size: 3rem;
  line-height: 1.5em;
}
.txt_35{
  font-size: 3.5rem;
  line-height: 1.3em;
}
.txt_40 {
  font-size: 4rem;
  line-height: 1.125em;
}
.txt_50 {
  font-size: 5rem;
  line-height: 1.3em;
}
.txt_55 {
  font-size: 5.5rem;
  line-height: 1.25em;
}
.txt_70{
  font-size: 7rem;
  line-height: 1em;
}
.left_full {
  margin-left: calc(var(--padding-container)*-1);
}
.right_full {
  margin-right: calc(var(--padding-container)*-1);
}
.img_full{
  display: flex !important;
}
.img_full img{
  width: 100%;
  object-fit: cover;
}
.img_fullfill img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt_justify {
  text-align: justify;
}
.txt_center{
  text-align: center;
}
.txt_title_color{
  color: #014129
}
.img_radius{
  border-radius: 2rem;
}
.bg_line{
  background: #F5F5F5 url('/assets/img/bg_line.png') repeat;
  background-size: auto;
}
.tablet{
  display: none;
}
.mobile{
  display: none;
}
.txt_uppercase{
  text-transform: uppercase;
}
@media only screen and (max-width: 991px){
  .desktop{
    display: none !important;
  }
  .kl_grid {
  column-gap: 2rem;
}
  .tablet{
    display: block;
  }
  .txt_16 {
  font-size: 1.4rem;
}
.txt_17 {
  font-size: 1.5rem;
}
.txt_18 {
  font-size: 1.6rem;
}
.txt_20 {
  font-size: 1.8rem;
}
.txt_24 {
  font-size: 2rem;
}
.txt_25{
  font-size: 2.2rem;
}
.txt_28 {
  font-size: 2.4rem;
}
.txt_30 {
  font-size: 2.6rem;
}
.txt_35{
  font-size: 3rem;
}
.txt_40 {
  font-size: 3.2rem;
}
.txt_50 {
  font-size: 3.4rem;
}
.txt_55 {
  font-size: 4rem;
}
.txt_70{
  font-size: 5.5rem;
}
}
@media only screen and (max-width: 767px){
  .mobile{
    display: block;
  }
  .middle{
    display: none;
  }
  .txt_16 {
  font-size: 1.4rem;
}
.txt_17 {
  font-size: 1.6rem;
}
.txt_18 {
  font-size: 1.6rem;
}
.txt_20 {
  font-size: 1.6rem;
}
.txt_24 {
  font-size: 2rem;
}
.txt_25{
  font-size: 1.6rem;
}
.txt_28 {
  font-size: 2rem;
}
.txt_30 {
  font-size: 1.8rem;
}
.txt_35{
  font-size: 2rem;
}
.txt_40 {
  font-size: 3.2rem;
}
.txt_50 {
  font-size: 2rem;
}
.txt_55 {
  font-size: 2.5rem;
}
.txt_70{
  font-size: 2.5rem;
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}
.txt_center_mb{
  text-align: center;
}
.bg_line_mb{
  background: url('/assets/img/line-th2.png') repeat;
  background-size: auto;
}
}
